<!DOCTYPE html>
<html lang="en">

<head>
    <title>Parse Server</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/libs/bootstrap.min.css">

</head>

<body>

    <div class="container">
        <h1 id="titulo"></h1>
        <form id="form-cadastro" method="GET" action="">
            Username: <input type="text" name="username" id="username"><br> 
            Email: <input type="email" name="email" id="email"><br>            
            Senha: <input type="password" name="password" id="password"><br>
            <button type="button" id="btnSubmit">Cadastrar Usuário</button>
        </form>

        <a href="/home">Home</a>
    </div>

    <script src="/public/libs/jquery.min.js"></script>
    <script src="/public/libs/parse.min.js"></script>

    <script>
        (function () {
            Parse.initialize("myAppId", "jjjjjj");
            Parse.serverURL = 'http://localhost:1337/blog';

            $('#btnSubmit').click(function (e) {
                var user = new Parse.User();
                user.set("username", $('#username').val());
                user.set("password", $('#password').val());
                user.set("email", $('#email').val());

                user.signUp(null, {
                    success: function (user) {
                        console.log("Usuário cadastrado: ", user);
                    },
                    error: function (user, error) {
                        alert("Error: " + error.code + " " + error.message);
                    }
                });
            });

            $('#titulo').html('Opaaaa!');
        })()
    </script>
</body>

</html>